body {
	background: #aaad7a;
	font-family: Courier New, Courier, Optima, Palatino Linotype, Palatino, serif;
	/* font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; */
	word-break: break-word;
}

.enlargeOnHover:hover {
	width: 37em;
	height: 17em;
	opacity: 100%;
	transition: opacity 1s;
}

table, th, td {
	border: solid black 1px;
	border-collapse: collapse;
	padding: 3px;
}

.tdPlain:hover {
	background-color: #babe4d;
	transition: .5s;
	transition-timing-function: ease;
}

td:hover {
    background-color: #babe4d;
    transition: .5s;
    transition-timing-function: ease;
  }

pre {
	font-family: Courier New, Courier, Optima, Palatino Linotype, Palatino, serif;
}

p {
	word-wrap: normal;
}

a:link, a:visited {
	/*
	color: #cf1fca;
	*/

	/*
	color: #04410c;
	*/

	color: #110db0;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	background-color: #e1ec3c;
}

ul {
	list-style-position: inside;
}

/*
.center {
	text-align: center;
	position: relative;
}
*/

/* something */